@font-face {
    font-family: 'CascadiaCode';
    src: url(./fonts/CascadiaCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'NotoSansJP';
    src: url(./fonts/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}