@import '@/app/styles/variables.scss';

.delBtn {
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: $black_2;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40%;
    color: $red;
    box-shadow: 0 0 20px #11111170;
    transition: all .2s ease;

    span {
        display: flex;
        transform: scale(1.5);
    }

    &:hover {
        background-color: $red;
        color: $red_1;
    }
}