@import '@/app/styles/variables.scss';


.TaskList_container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: auto;

    scrollbar-width: none;
    padding-top: 7px;
    box-sizing: border-box;
    scroll-behavior: smooth;

    .TaskList {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1rem;

        li {
            hyphens: auto;
            max-width: 100%;
            height: fit-content;
            padding: 1rem;
            box-sizing: border-box;
            background-color: $black_3;
            border-radius: 10px;
            cursor: pointer;

            p {
                color: #666;
                font-family: CascadiaCode;
                transition: all .2s ease-in;


                &:hover {
                    color: $white;
                }
            }
        }
    }
}