@import '@/app/styles/variables.scss';

.navBar {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    scrollbar-width: none;
    padding-top: 7px;
    box-sizing: border-box;

    .navBar_list {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
        gap: 1rem;

        li {
            padding: 1rem;
            background-color: $black_2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: $white;
            font-family: Oswald;
            cursor: pointer;
            box-shadow: 0 0 20px #0000004e;
            transition: .3s ease;

            p {
                width: 1rem;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                background-color: $white;
                color: $black_1;
                outline: 7px solid #ffffff1c;
            }
        }
    }
}