@import '@/app/styles/variables.scss';

.sideBar {
    width: 6rem;
    height: 100%;
    background-color: #ce6c45;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    .sideBar_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}