@import '@/app/styles/variables.scss';

.sideBar {
    width: 100%;
    height: 100%;
    background-color: $black_1;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    .sideBar_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}