@import '@/app/styles/variables.scss';

.AddTaskBtn {
    width: 100%;
    height: fit-content;
    border: none;
    margin: auto;
    box-sizing: border-box;
    background-color: #e07bd9;
    border-radius: 10px;
    outline: 2px dashed $white;
    cursor: pointer;
    transition: all .2s ease-in;
    display: flex;
    overflow: hidden;

    &:has(input:focus) {
        background-color: #b65fc8;
    }

    &:hover {
        background-color: #b65fc8;

        .AddTaskBtn_text {
            color: $white;
        }
    }


    &_text {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: all .2s ease;
        padding: 1rem 0;
        box-sizing: border-box;

        p {
            font-family: CascadiaCode;
            font-size: 1.2em;
        }
    }

    &_input {
        flex-grow: 1;
        display: flex;

        input {
            flex-grow: 1;
            padding: 1rem;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.2em;
            font-family: CascadiaCode;
            transition: all .2s ease-in;

            &:focus {

                &::placeholder {
                    color: $white;
                }

                color: $white;
            }
        }
    }
}