@import '@/app/styles/variables.scss';

.functionBar {
    width: 100%;
    height: fit-content;
    border-bottom: 2px dashed $black_6;
    padding-bottom: 1rem;

    .functionBar_list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}