@import '@/app/styles/variables.scss';

.Column {
    width: 100%;
    height: fit-content;
    background-color: $black_2;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;

    &_container {
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 8rem);
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: hidden;

        .Column_name {
            display: block;
            width: 100%;
            height: fit-content;
            padding-bottom: 1rem;

            h1 {
                color: $black_5;
                font-family: Oswald;
                font-size: 1.6em;
                transition: all .2s ease-in;

                &:hover {
                    color: $white;
                }
            }
        }

        .Column_AddTaskBtn_container {
            width: 100%;
            height: fit-content;
            padding: 1.5rem 2px;
            box-sizing: border-box;
            border-bottom: 2px dashed $black_6;
            border-top: 2px dashed $black_6;
        }
    }
}