@import '@/app/styles/variables.scss';

.addBtn {
    padding: 1.2rem;
    background-color: $black_2;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40%;
    color: $black_5;
    box-shadow: 0 0 20px #11111170;
    transition: all .2s ease;

    span {
        display: flex;
        transform: scale(1.5);
    }

    &:hover {
        background-color: $black_3;
        color: $black_6;
    }
}