@import '@/app/styles/variables.scss';

.Column {
    width: 100%;
    height: fit-content;
    background-color: $black_1;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;

    .Column_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

        .Column_name {
            display: block;
            width: 100%;
            height: fit-content;
            border-bottom: 2px dashed $black_6;
            padding-bottom: 1rem;

            h1 {
                color: $black_4;
                font-family: Oswald;
                font-size: 1.6em;
            }
        }

        .Column_tasksList {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;

            li {
                display: flex;
                width: 100%;
                height: fit-content;
            }
        }
    }
}